.bg-vio {
    background-color: #3D6AA2 !important;
}

.card-header-custom {
    border: none !important;
}

.card-custom {
    border: none !important;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(207, 207, 207, 1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(207, 207, 207, 1);
    box-shadow: 0px 1px 10px 0px rgba(207, 207, 207, 1);
}

.card-body-custom {
    display: flex;
    padding: 0 !important;
}

.middle {
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.item {
    padding: 30px 45px;
    transition: 0.5s;
}

.item:hover {
    background-color: #eeeeee;
}

.fa-moon-o {
    transition: 0.3s;
    font-weight: bolder !important;
    font-size: 20px;
}

.item:hover .fa-moon-o {
    color: #3D6AA2 !important;
}