.sliderWrapper {
    width: 480px;
    height: 350px;
    margin: 50px auto;
}

.slSlider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;
}

.slSlider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slSlider ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.slSlider ul li:first-child {
    display: list-item;
}

.slSlider ul li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slSlider .counter {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 9px;
    font-family: "B Koodak";
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px 5px;
    border-radius: 0 0 3px 0;
    z-index: 9999;
}

.slSlider .next, .slSlider .prev {
    position: absolute;
    top: 100px;
    z-index: 9999;
    opacity: 0.3;
}

.slSlider .next:hover {
    cursor: pointer;
    opacity: 0.9;
}

.slSlider .prev:hover {
    cursor: pointer;
    opacity: 0.9;
}

.slSlider .next {
    right: 5px;
    font-size: 30px;
}

.slSlider .prev {
    left: 5px;
    font-size: 30px;
}

.slSlider .buttonsRow {
    z-index: 9999;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.slSlider .buttonsRow span {
    float: right;
    width: 12px;
    height: 12px;
    font-size: 9px;
    font-family: 'B Koodak';
    color: #777;
    background-color: #fff;
    opacity: 0.5;
    margin-right: 3px;
    padding: 1px;
    border-radius: 7px;
    text-align: center;
}

.slSlider .buttonsRow span:hover, .slSlider .buttonsRow span.curr {
    opacity: 0.9;
    cursor: pointer;
    color: #555;
}

.slSlider .sliderCaption {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 42px;
    z-index: 999;
    font-size: 20px;
    font-family: "B Yekan";
    text-align: right;
    direction: rtl;
    line-height: 40px;
    padding-right: 10px;
    box-sizing: border-box;
}


