.tooltip {
    text-decoration: underline;
    cursor: pointer;
}

.tooltipBox {
    background-color: #e3f5de;
    border: 1px solid #abd49f;
    color: #000;
    margin: 0;
    padding: 5px 7px;
    width: 200px;
    border-radius: 5px;
    text-align: left;
    font-size: 13px;
    position: fixed;
    display: none;
}

.tooltipBox:after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 50%;
}